body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Optional background color */
}
div {
    background-color: rgb(0, 0, 0); /* Optional background color for the div */
    padding: 50px;
    border-radius: 18px 0px 18px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
h1 {
    font-size: 23px;
    color: white;
    margin: -10px -15px 24px 29px;
    padding: 11px;
}
input {
    padding: 20px;
    margin-bottom: 20px;
    padding: 8px;
    height: 20px;
    color: rgb(255, 255, 255);
    
    background-color: transparent;
    width: 200px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
button {
    padding: 20px;
    padding: 9px;
    width: 47%;
    border: none;
    margin-left: 51px;
    border-radius: 17px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
button:active {
    background-color: #ffffff;
    color: black;
}
#taskList {
    padding: 8px;
    margin-bottom: -27px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    list-style-type: none;
    
    min-height: 40px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
li{
    display: none;
    border: 1px solid #ffffff;
    padding: 50px;
    
    padding: 10px;
    height: 20px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 200px;
    border: 1px solid #ffffff;
    overflow-y:auto;
    border-radius: 4px;
    
}

.remove-btn {
    background-color: crimson;
    color: white;
    position: absolute;
    padding-bottom: 20px;
    border: none;
    width: 67px;
    height: 27px;
    display: inline;
    position: relative;
    cursor: pointer;
    float: right;
}

