body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Optional background color */
}
div {
    background-color: rgb(0, 0, 0); /* Optional background color for the div */
    padding: 50px;
    border-radius: 18px 0px 18px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
h1 {
    font-size: 23px;
    color: white;
    margin: -10px -15px 24px 29px;
    padding: 11px;
}
input {
    padding: 20px;
    margin-bottom: 20px;
    padding: 8px;
    height: 20px;
    color: wheat;
    background-color: transparent;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
button {
    padding: 20px;
    padding: 9px;
    width: 47%;
    border: none;
    margin-left: 51px;
    border-radius: 17px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:active {
    background-color: #ffffff;
    color: black;
}
#text2{
    display: none;
    padding: 20px;
    margin-bottom: 20px;
    padding: 8px;
    height: 20px;
    width: 100%;
    border: 1px solid #050505;
    border-radius: 4px;
}